cffi==1.1.2
ckanapi==3.3
colorlog==2.6.0
cryptography==0.9.3
docopt==0.6.2
enum34==1.0.4
idna==2.0
ipaddress==1.0.12
ndg-httpsclient==0.4.0
progressbar==2.3
pyasn1==0.1.7
pycparser==2.12
pyOpenSSL==0.15.1
requests==2.5.1
simplejson==3.6.5
six==1.9.0
termcolor==1.1.0
wheel==0.24.0
